.logo {
  width: 120px;
  height: 31px;
  margin: 16px -10px 16px -30px;
  border-radius: 45px;
  float: left;
  background: rgb(0, 114, 70);
}

.header {
  background-color: #fdfdfe;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.c-head {
  background-color: #fdfdfe;
  float: right;
  margin-right: -30px;
  border: none;
}

.sider-c {
  margin-top: 64px;
  overflow: auto;
  z-index: 1;
  left: 0;
  top: 0;
  bottom: 0;
  height: 92vh;
}

.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
  color: #1890ff;
}
.trigger:hover {
  color: #1890ff;
}

.name-user {
  font-weight: bold;
}

@media only screen and (min-width: 600px) {
  .sider-c {
    display: hidden;
    overflow: auto !important;
    z-index: 1;
    left: 0;
  }
}
@media only screen and (max-width: 752px) {
  .logo {
    display: none;
  }
}
